<h1>Undo Merge</h1>

<p>Undo merge into <strong><%= link_to(@forum_topic.merge_target.title, forum_topic_path(@forum_topic.merge_target)) %></strong>?</p>

<%= button_to("Undo Merge", merge_forum_topic_path(@forum_topic), method: :delete) %>

<%= render(partial: "forum_topics/secondary_links") %>

<% content_for(:page_title) do %>
  Undo Forum Topic Merge
<% end %>
