<h1>Most Followed Tags</h1>

<%= table_for(@tags, class: "striped autofit") do |t| %>
  <% t.column("Count") do |tag| %>
    <%= tag.follower_count %>
  <% end %>
  <% t.column("Tag") do |tag| %>
    <%= link_to(tag.name, posts_path(tags: tag.name)) %>
  <% end %>
<% end %>

</table>

<%= render partial: "popular/secondary_links" %>

<% content_for(:page_title) do %>
  Most Followed Tags
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="The most followed tags">
<% end %>
