<%= table_for(@dashboard.user_text_versions) do |t| %>
  <% t.caption { "User Text Changes" } %>
  <% t.column("User") do |activity| %>
    <%= link_to_user(activity.user) %>
  <% end %>
  <% t.column("Count") do |activity| %>
    <%= link_to(activity.count, user_text_versions_path(search: { updater_id: activity.user.id })) %>
  <% end %>
<% end %>

<p><%= link_to("View all changes", moderator_user_text_versions_path) %></p>

