<p>
  Are you sure you want to clear your favorites? You can only do this once per week, and will not be able to favorite anything while this is happening.
</p>

<%= button_to("Clear Favorites", clear_favorites_path, method: :put) %>
