<h4>You are reporting the following comment:</h4>
<div class="author"><%= link_to_user @ticket.model.creator %></div>
<span class="date"><%= time_ago_in_words_tagged(@ticket.model.created_at) %></span>
<br><br>
<div class="dtext-container">
  <%= format_text(@ticket.model.body) %>
</div>

<%= render "tickets/partials/create_notice", message: @ticket.model %>
