<%# locals: (post:, appeal:) -%>
<ul>
  <li>
    <% if appeal.reason.present? %>
      <%= format_text(appeal.reason, inline: true) %> -
    <% end %>
    <%= link_to_user(appeal.creator) %>
    <% if policy(appeal).can_see_ip_addr? %>
      (<%= link_to_ip(appeal.creator_ip_addr) %>)
    <% end %>
    - <%= time_ago_in_words_tagged(appeal.created_at) %>
  </li>
</ul>
