<h1>Danger Zone</h1>
<h2>Uploads</h2>
Uploads are currently permitted for <b><%= User::Levels.id_to_name(DangerZone.min_upload_level) %></b> and up.
<% if policy(:danger_zone).update? %>
  <%= custom_form_for(:uploading_limits, url: uploading_limits_admin_danger_zone_index_path, method: :put) do |f| %>
    <%= f.input(:min_level, collection: user_levels_for_select, selected: DangerZone.min_upload_level) %>
    <%= f.button(:submit, value: "Submit") %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  Danger Zone
<% end %>
