<tr>
  <td><span class="title">Reported Message</span></td>
  <td>
    <%= link_to("Message", dmail_path(@ticket.model)) %> sent from <%= link_to_user(@ticket.model.from) %> to <%= link_to_user(@ticket.model.to) %>
  </td>
</tr>
