<tr>
  <td><span class="title">Reported Forum Post</span></td>
  <td>
    <% if @ticket.model.present? %>
      <%= link_to("Post by #{@ticket.model.creator.name} in '#{@ticket.model.topic.title}'", forum_post_path(@ticket.model)) %>
    <% else %>
      <span class="text-error">Forum post has been deleted</span>
    <% end %>
  </td>
</tr>
