<tr>
  <td><span class="title">Reported Pool</span></td>
  <td>
    <% if @ticket.model.present? %>
      <%= link_to(@ticket.model.name, pool_path(@ticket.model)) %>
    <% else %>
      <span class="text-error">Pool has been deleted</span>
    <% end %>
  </td>
</tr>
