<tr>
  <td><span class="title">Reported Post</span></td>
  <td>
    <% if @ticket.model.present? %>
      <%= PostPresenter.preview(@ticket.model, show_deleted: true, no_blacklist: true).presence || link_to("Post ##{@ticket.model.id}", post_path(id: @ticket.model.id)) %>
    <% else %>
      <% if policy(DestroyedPost).all?(:index?, :show?) %>
        <%= link_to("Post has been destroyed", admin_destroyed_post_path(@ticket.model_id), class: "text-error") %>
      <% else %>
      <span class="text-error">Post has been destroyed</span>
      <% end %>
    <% end %>
  </td>
</tr>
