<tr>
  <td><span class="ticket">Reported Set</span></td>
  <td>
    <% if @ticket.model.present? %>
      <%= link_to(@ticket.model.name, post_set_path(@ticket.model)) %>
    <% else %>
      <span class="text-error">Post set has been deleted</span>
    <% end %>
  </td>
</tr>
