<%# locals: (header_title:, data:) -%>

<%= table_for(data) do |t| %>
  <% t.column("<h2>#{header_title}</h2>".html_safe, th: { style: "width: 275px;" }) do |(data_title, _data_or_stats_key, _data_total_key)| %>
    <%= data_title %>
  <% end %>
  <% t.column(th: { style: "width: 75px;" }) do |(_data_title, data_or_stats_key, _data_total_key)| %>
    <%= del(@stats[data_or_stats_key]) || data_or_stats_key %>
  <% end %>
  <% t.column(th: { style: "width: 50px;" }) do |(_data_title, data_or_stats_key, data_total_key)| %>
    <% if data_total_key %>
      <% if @stats[data_total_key] == 0 %>
        0%
      <% else %>
        <%= (@stats[data_or_stats_key].to_f / @stats[data_total_key] * 100).round %>%
      <% end %>
    <% end %>
  <% end %>
<% end %>
